div.feed-card {
	width: 100%;
	height: auto;
	min-height: 350px;

	background: #FFF;
	border-radius: 8px;
	display: flex;
	padding: 30px 25px;
	gap: 25px;
	margin-top: 25px;
}

div.feed-card:first-child {
	margin: 0;
}


div.feed-card img.image-post {
	width: 320px;
	height: 400px;
	object-fit: cover;
	border-radius: 10px;
}

div.feed-card div.information-card {
	position: relative;
	width: calc(100% - 320px);
	/* height: 100%; */
}


div.feed-card div.information-card header.header-card {
	width: 100%;
	height: 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.information-card header.header-card div.user-posted {
	display: flex;
	align-items: center;
	justify-content: center;
}

header.header-card div.user-posted div.information-user {
	display: flex;
	flex-direction: column;
	margin-left: 7px;
	line-height: 18px;
}

div.user-posted div.information-user span.area-user-posted {
	color: var(--color-no-selected);
	font-size: .8rem;
}

div.information-card header.header-card div.user-posted img {
	width: 50px;
	height: 50px;
	
	object-fit: cover;
	border-radius: 50%;
}

div.information-card header.header-card button.btn-subscribe-post {
	width: 170px;
	height: 35px;
	border-radius: 100px;
	background: var(--principal-blue);
	border: none;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
}

div.information-card header.header-card button.btn-subscribed {
	width: 170px;
	height: 35px;
	border-radius: 100px;
	color: #000;
	text-transform: uppercase;
	cursor: pointer;
	border: 2px solid var(--principal-blue);
	background: none;
}

div.information-card div.post-information {
	width: 100%;
	height: auto;
	padding: 20px 0;

	display: flex;
	gap: 25px;
}

div.information-card div.post-information div.date-event-post {
	width: 120px;
	height: 100px;
	background: var(--principal-blue);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* line-height: 20px; */
	color: #FFF;
}

div.post-information div.date-event-post span.month {
	text-transform: uppercase;
}

div.post-information div.date-event-post h2.day {
	font-size: 2rem;
}

div.post-information div.content-post-event {
	width: 100%;
	display: flex;
	flex-direction: column;
}

div.post-information div.content-post-event h2.title {
	color: var(--principal-blue);
	font-size: 2.2rem;
	line-height: 40px;
}

div.post-information div.content-post-event span.descrition-event {
	font-size: 0.9rem;
	margin-top: 10px;
	color: #a3a3a3;
	padding-bottom: 35px;
}

div.post-information div.content-post-event span.hashtags {
	font-size: 0.9rem;
	margin-top: 10px;
	color: #366DBF;
	padding-bottom: 35px;
}


div.information-card div.footer-information {
	position: absolute;
	width: 100%;
	justify-content: space-between;
	height: 40px;
	display: flex;
	align-items: center;
	bottom: 0;
}

div.footer-information div.like-post {
	display: flex;
	align-items: center;
}

div.footer-information div.like-post span {
	margin-left: 10px;
} 

div.footer-information div.like-post button.btn-like-post {
	border: none;
	background: none;

	display: flex;
	align-items: center;
	cursor: pointer;
}

div.footer-information div.like-post button.btn-comment-post {
	/* width: 30px;
	height: 30px; */
	border: none !important;
	display: flex;
	align-items: center;
	cursor: pointer;
}

div.footer-information div.like-post button{
	background: none !important;
}

div.footer-information div.like-post button.btn-like-post svg {
	font-size: 1.5rem;
	color: #FF6868;
}
div.footer-information div.like-post button.btn-comment-post svg {
	font-size: 1.5rem;
	color: #083569;
}



/*
* RESPONSIVIDADE
*/


@media screen and (max-width: 990px) {

	div.feed-card {
		flex-direction: column;
	}

	div.feed-card img.image-post {
		width: 100%;
		height: 300px;
	}

	
	div.feed-card div.information-card {
		width: 100%;
		height: auto;
		/* height: 100%; */
		position: relative;
	}


}

@media screen and (max-width: 580px) {

	div.feed-container div.feed-content {
		width: 95%;
		height: 100%;
	}

	div.feed-card img.image-post {
		width: 100%;
		height: 150px;
	}

	div.information-card div.post-information div.date-event-post {
		width: 70px;
		height: 70px;
	}
	
	div.post-information div.date-event-post span.month {
		text-transform: uppercase;
	}
	
	div.post-information div.date-event-post h2.day {
		font-size: 1.5rem;
	}

	div.post-information div.content-post-event h2.title {
		font-size: 1rem;
	}
}
