

div.feed-container {
    width: 100%;
    /* height: 100%; */
	height: auto;
    /* background: red; */

    display: flex;
    justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;

}

div.feed-container div.feed-content {
	display: flex;
    width: 70%;
    height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


div.feed-container div.feed-content .loading-spin {
    margin-top: 50px;
}


div.feed-container div.feed-content div.new-post {
	width: 100%;
	height: 100px;
	background: #FFF;
	border-radius: 8px;
	margin-top: 25px;

	display: flex;
	padding: 0 25px;
	align-items: center;
	gap: 1rem;
}

div.new-post img.user-picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

div.new-post button {
	width: calc(100% - 70px);
	height: 70px;
	border: 0;
	font-size: .8rem;
	text-align: left;
	color: rgb(172, 172, 172);
}

div.new-post button {
	background: none;
	border: none;
	cursor: pointer;
}

div.new-post button svg {
	font-size: 35px;
	color: var(--color-no-selected);
}

div.feed-cards {
	width: 100%;
	height: auto;
	
	margin-top: 25px;
	padding-bottom: 25px;
}

div.feed-cards span.not-content {
	text-align: center;
}


/*
* RESPONSIVIDADE
*/


@media screen and (min-width: 1900px){
    div.feed-container div.feed-content {
		width: 40%;
		height: 100%;
	}
}


@media screen and (min-width: 1700px){
    div.feed-container div.feed-content {
		width: 50%;
		height: 100%;
	}
}


@media screen and (min-width: 1400px){
    div.feed-container div.feed-content {
		width: 60%;
		height: 100%;
	}
}


@media screen and (max-width: 1245px) {
	div.feed-container div.feed-content {
		width: 80%;
		height: 100%;
	}
}


@media screen and (max-width: 750px) {

	div.feed-container div.feed-content {
		width: 95%;
		height: 100%;
	}
}

/* .feed{
    background-color: #f2f2f2;
}

.createPublicacao{
    background-color: #fff;
    width: 42%;
    margin-left: 29%;
    height: 65px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 3px;
    justify-items: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.iconeClipe{
    padding-top: 10px;
    padding-left: 5%;
}

.iconeEnviar{
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 2%;
}

.textAreaCreate{
    margin-left: 5%;
    margin-top: 5px;
    color: #366DBF;
    width: 60%;
    height: 40px;
    border-radius: 3px;
    border-color: #f2f2f2;
    cursor: text;
}

.createPublicacao ::placeholder{
    color: #366DBF;
    font-family: Exo 2;
    font-style: normal;
    font-size: 15px;
} */