.feed{
    background-color: #f2f2f2;
}

.createPublicacao{
    background-color: #fff;
    width: 42%;
    margin-left: 29%;
    height: 65px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 3px;
    justify-items: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.iconeClipe{
    padding-top: 10px;
    padding-left: 5%;
}

.iconeEnviar{
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 2%;
}

.textAreaCreate{
    margin-left: 5%;
    margin-top: 5px;
    color: #366DBF;
    width: 60%;
    height: 40px;
    border-radius: 3px;
    border-color: #f2f2f2;
    cursor: text;
}

.createPublicacao ::placeholder{
    color: #366DBF;
    font-family: Exo 2;
    font-style: normal;
    font-size: 15px;
}