:root {
	--background-page: #F0F0F5;
	--principal-blue: #06377B;
	--principal-color-button: #06377B;
	--color-not-selected-input-and-icon: #9A9A9A;
	--color-subtitle: #A0A0A0;
	--color-input: #FFF;
}


body {
	background:var(--background-page) !important;
}

.emoji{
    font-size: 4rem;
}

