div.profile-card {
	width: 100%;
	height: auto;
	min-height: 640px;
	background: #FFF;
	border-radius: 8px;
	display: flex;
	padding: 30px 25px;
	gap: 25px;
	margin-top: 25px;
}

div.profile-card-content{
	display: flex;
	width: 100%;
	flex-direction: column;
	line-height: 18px;
}


div.profile-general-info{
	display: flex;
	flex-direction: column;
}

div.profile-cover{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

div.profile-cover img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

div.profile-image{
	width: 120px;
	height: 120px;
	overflow: hidden;	
}

div.profile-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid rgb(255, 255, 255);
}

div.profile-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	top: -30px;
	position: relative;
}

div.profile-info{
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.profile-user-info span{
	display: flex;
	justify-content: initial;
	width: 100%;
}


.subtitle{
	color: #9A9A9A;
}

div.profile-user-info{
	margin-left: 8px;

}

div.profile-user-info{
	display: flex;
	flex-direction: column;
	align-items: center;
}


div.profile-header button.btn-edit-profile div{
	align-items: center;
	justify-content: space-between;
}


div.profile-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

div.profile-bio{
	padding-top: 10px;
	color: #b5b5b5;
	font-size: 0.8em;
}

div.profile-bio-area{
	width: 50%;
	padding: 10px;
	max-height: 200px;
}

div.profile-content-inside{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 100%;
}


@media screen and (max-width: 990px) {

	div.profile-info{
		flex-direction: column;
	}

	div.profile-user-info{
		margin-left: 0px;
	}

	div.profile-user-info span{
		justify-content: center;
	}
	
	div.profile-header{
		justify-content: center;
		margin-left: 50px;
		top: -50px;
	}

	div.profile-content{
		flex-direction: column;	
	}

	div.profile-content-inside{
		flex-direction: column;	
		justify-content: space-evenly;
	}

	div.profile-bio-area{
		width: 80%;
		margin: auto;
	}

}

