/* 
div.perfil-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
	position: relative;
	flex-direction: column;
	align-items: center;
}

div.perfil-container div.perfil-content {
    width: 70%;
    height: 100%;
}

div.feed-container div.feed-content .loading-spin {
    margin-top: 50px;
}



@media screen and (min-width: 1900px){
    div.perfil-container div.perfil-content {
		width: 40%;
		height: 100%;
	}
}


@media screen and (min-width: 1700px){
    div.perfil-container div.perfil-content {
		width: 50%;
		height: 100%;
	}
}


@media screen and (min-width: 1400px){
    div.perfil-container div.perfil-content {
		width: 60%;
		height: 100%;
	}
}


@media screen and (max-width: 1245px) {
	div.perfil-container div.perfil-content {
		width: 80%;
		height: 100%;
	}
}


@media screen and (max-width: 580px) {

	div.perfil-container div.perfil-content {
		width: 95%;
		height: 100%;
	}
} */