:root {
    --primary: #366DBF;
    --warning: #F9DC5C;
    --danger: #E84855;
    --success: #ABE188;
    --white: #fdfdfd;
    --dark: #181717;
  }
  
  .btn {
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    border: 10px;
    margin: auto;
    transition: transform 0.5s ease;
  }
  
  
  /* Button Colors and Styles */
  
  .btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
  }

  .btn--primary--solid:hover{
    background-color: var(--white);
    border: 2px solid var(--primary);
    color: var(--primary);
  }

  .btn--primary--outline {
    background-color: var(--white);
    border: 2px solid var(--primary);
    color: var(--primary);
  }

  .btn--primary--outline:hover {
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
  }



  .btn--warning--solid {
    background-color: var(--warning);
    border: 2px solid var(--warning);
    color: var(--white);
  }
  
  .btn--warning--solid:hover{
    background-color: var(--white);
    border: 2px solid var(--warning);
    color: var(--warning);
  }

  .btn--warning--outline {
    background-color: var(--white);
    border: 2px solid var(--warning);
    color: var(--warning);
  }

  .btn--warning--outline:hover {
    background-color: var(--warning);
    border: 2px solid var(--warning);
    color: var(--white);
  }



  
  .btn--danger--solid {
    background-color: var(--danger);
    color: var(--white);
    border: 2px solid var(--danger);
  }

  .btn--danger--solid:hover {
    background-color: var(--white);
    border: 2px solid var(--danger);
    color: var(--danger);
  }

  .btn--danger--outline {
    background-color: var(--white);
    border: 2px solid var(--danger);
    color: var(--danger);
  }

  .btn--danger--outline:hover {
    background-color: var(--danger);
    color: var(--white);
    border: 2px solid var(--danger);
  }
  


  .btn--success--solid {
    background-color: var(--success);
    color: var(--white);
    border: 2px solid var(--success);
  }

  .btn--success--solid:hover {
    background-color: var(--white);
    border: 2px solid var(--success);
    color: var(--success);
  }
  
  .btn--success--outline {
    background-color: var(--white);
    border: 2px solid var(--success);
    color: var(--success);
  }

  .btn--success--outline:hover {
    background-color: var(--success);
    color: var(--white);
    border: 2px solid var(--success);
  }
  
  /* Button Size */
  
  .btn--small {
    padding: 5px 10px;
    font-size: 16px;
  }

  .btn--medium {
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 15px 30px;
    font-size: 20px;
  }

@media (max-width: 720px){

  .btn--small, .btn--medium, .btn--large{
    padding: 5% 10%;
    font-size: 15px;
  }
  
}
  