.menu-principal{
    position: fixed;
    left: 0;
    margin-top: 10%;
    background-color: #272525;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.menu-icons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.menu-icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    margin: 20px;
    margin-left: 0px;
}

.icone{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 17%;
    left: 18%;
}

.menu-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-labels{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.menu-label{
    cursor: pointer;
    margin: 30px;
    margin-left: 0px;
    margin-right: 100px;
    color: #fff;
}

.menu-button{
    background-color: #366DBF;
    width: 55px;
    height: 28px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.icone-button{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 17%;
    left: 27%;
}
.current{
    background-color: #366DBF;
}

.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hide{
    display: none;
}

.show{
    display: block;
}
@media (max-width: 720px){
    .menu-principal{
        display: none;
    }
}
