.btn {
    font-weight: 400;
    width: 150px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    transition: transform 0.5s ease;
  }
  
.btn-content{
  display: flex;
  justify-content: center;
}
  /* Button Colors and Styles */
  
  .btn--primary--solid {
    background-color: var(--principal-blue);
    color: var(--color-input);
  }

  .btn--primary--solid:hover{
    background-color: var(--hover-color-button);
  }

  .btn--primary--outline {
    background-color: var(--color-input);
    border: 2px solid var(--principal-blue);
    color: var(--principal-blue);
  }


  .btn--disabled--solid {
    background-color: #f2f2f2;
    color: #818181;
  }

  .btn--disabled--outline {
    background-color: var(--color-input);
    border: 2px solid #818181;
    color: #818181;
  }

  .hide{
      display: none;
  }


  /* Button Size */
  
  .btn--big {
    width: 150px;
	height: 50px;
  }
  
  .btn--medium{
    width: 140px;
    height: 40px;
  }

  .btn--long {
    width: 150px;
	  height: 30px;
    text-transform: uppercase;
  }

  /* Button type */
  .btn--icon{
    width: 50px;
  }

  
  @media screen and (max-width: 990px) {

  .btn--icon{
		width: 50px;
	}

  .btn--texticon span{
		display: none;
	}

  .btn--texticon{
		width: 50px;
	}

  
}