div.shop-card {
  width: 49%;
  min-height: 440px;
  height: auto;

  background: #FFF;
  border-radius: 8px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

div.shop-card:nth-child(n + 3) {
  margin-top: 20px;
}

div.shop-card img.course-image {
  height: 220px;
  border-radius: 8px;
  border: 1px solid rgb(228, 228, 228);
}

div.shop-card div.information-card-shop {
  width: 100%;
  height: 100%;
  padding-top: 25px;
}

div.shop-card div.information-card-shop div.principal-information-course {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}


div.shop-card div.information-card-shop button.btn-buy {
  width: 140px;
  height: 40px;
  border-radius: 100px;
  border: 0;
  background: var(--principal-blue);
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}

div.principal-information-course div.info-course span.title {
  font-weight: 700;
  color: var(--principal-blue);
}
div.principal-information-course div.info-course span.prince-and-temp {
  color: #8B8B8B;
}

div.information-card-shop span.description-courses {
  display: block;
  position: relative;
  color: #8f8f8f;
  font-size: .9rem;
  top: 10px;
  padding: 15px 0;
}