

div.content form.form-create-new-user {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 400px;
  overflow-y: auto;
  margin-top: 25px;
  flex-direction: column;
  gap: 2rem;
}

div.content form.form-create-new-user .group-form {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 1rem;
}


div.content form.form-create-new-user .group-form .input-group {
  margin-top: 0 !important;
}

button.btn-new-submit {
	width: 100%;
	height: 68px;
	margin-top: 15px;
	cursor: pointer;
	text-transform: uppercase;
	background: var(--principal-blue);
	color: #FFF;
	border: none;
  border-radius: 5px;
}