div.content-list-users {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

div.content-list-users table {
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

div.content-list-users table tbody {
  height: 50px;
  background: #FFFF;
  position: relative;
  top: 25px;
}

div.content-list-users table tbody tr {
  height: 70px;
  position: relative;
  border-radius: 50px;
}

div.content-list-users table tbody tr td button {
  background: none;
  border: none;
}

div.content-list-users table tbody .icon-table {
  width: 25px;
  height: 25px;
  cursor: pointer;
}


.activateduser {
  color: #00a743;
}

.desactiveUser {
  color: #F00
}

div.content-list-users table tbody .edit {
  color: #34FF85;
}

div.content-list-users table tbody .close {
  color: #F00;
}


