
div.content-reports {
  width: 100%;
  height: auto;
  margin-top: 25px;
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;
  gap: 2rem
}

div.content-reports div.report {
  display: flex;
  flex-direction: column;
}

div.content-reports div.report div.buttons-report button.button {
  position: relative;
  width: 200px;
  height: 40px;

  border: none;
  background: var(--blue-color);
  color: white;
  border-radius: 5px;
  top: 10px;
  cursor: pointer;
  margin-left: 15px;
}

div.content-reports div.report div.buttons-report button.button:first-child {
  margin: 0;
}

button.button:first-child {
  margin: 0;
} 