
div.description-page {
    width: 100%;
    height: 60px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
}

div.description-page span.title {
    font-size: 1.5rem;
}

div.description-page span.description {
    color: #8B8B8B;
}

div.shop-cards {
	width: 100%;
	height: auto;
	
	margin-top: 25px;
	padding-bottom: 25px;
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* .Navbar{
    background-color: #366DBF;
    height: 50px;
}

.filtros{
    margin-top: 30px;
}

.filtro2{
    margin-left: 200px;
}

.pagina{
    display: flex;
}

.paginaCentro{
    margin-left: 15%;
    width: 70%;
}

.paginaCentro .titulo{
    margin-top: 50px;

    font-family: Exo 2;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.paginaCentro .subtitulo{
    margin-top: 30px;

    font-family: Exo 2;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.textoAzul{
    color: #366DBF;
}

.eventos{
    margin-top: 30px;
    border-radius: 10px;
    background-color: #DDE4E8;
}

.menuDireita{
    position: fixed;

}

.menuDireita .titulo{
    margin-top: 20px;

    font-family: Exo 2;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
}

 */
